@model Gateway.Models.Readers.Reader

@{
    ViewData["Title"] = "Reader details";
}

<h2>Reader details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ReaderBooks" asp-route-nickname="@Model.Nickname">Reader books</a> |
    <a asp-action="AddBookToReader" asp-route-reader="@Model.Nickname">Add new readed book</a> |
    <a asp-action="ReaderAuthors" asp-route-nickname="@Model.Nickname">Reader authors</a> |
    <a asp-action="Readers">Back to List</a>
</div>
