@model Gateway.Models.Books.Book

@{
    ViewData["Title"] = "Book details";
}

<h2>Book details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            <a asp-action="Author" asp-controller="FEAuthor" asp-route-name="@Model.Author">@Model.Author</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DeleteBook" asp-route-name="@Model.Name">Delete book</a> |
    <a asp-action="Books">Back to List</a>
</div>
